/* CONTAINER */
.container {
    background: #ffffff;
    width: 380px;
    padding: 30px 35px;
    border-radius: 20px;
    position: relative; /* above overlay */
    z-index: 1;
    background: url('https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg') no-repeat center center;    background-size: cover;

}

/* HEADINGS */
h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #fcfcfc;
    font-weight: 600;
}

/* INPUT FIELDS */
.input-container {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px 40px 12px 15px;
    border-radius: 12px;
    border: 2px solid hwb(0 100% 0%);
    outline: none;
    font-size: 14px;
    background: #ffffff31;
    transition: 0.3s;
}

input:focus {
    border-color: #667eea;
    box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
    background: #ffffff;
}
/* PASSWORD TOGGLE */
.toggle-pass {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    color: #fffafa;
}
/* BUTTONS */
button {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #667eea;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}
button:hover {
    background: #5a67d8;
}
/* SWITCH LINKS */
.switch {
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
    color: #b8b2b2;
    font-size: 16px;
}
.switch span {
    color:  lab(98.97% 0.21 -1.56);
    cursor: pointer;
    font-weight: 600;
}
.hidden {
    display: none;
}